:root {
  --dark_ele: hsl(209, 23%, 22%);
  --dark_bg: hsl(207, 26%, 17%);
  --light_text: hsl(200, 15%, 8%);
  --light_Input: hsl(0, 0%, 52%);
  --light-bg: hsl(0, 0%, 98%);
  --light-ele: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
}
