:root {
  --dark_ele: hsl(209, 23%, 22%);
  --dark_bg: hsl(207, 26%, 17%);
  --light_text: hsl(200, 15%, 8%);
  --light_Input: hsl(0, 0%, 52%);
  --light-bg: hsl(0, 0%, 98%);
  --light-ele: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
}
/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 4rem;
  border: 1px solid whitesmoke;
  box-shadow: 0 0 0 1px rgba(245, 245, 245, 0.943);
}
